.card {
  background-color: rgb(255, 254, 254);
  margin: 10px 0px;
}

h2 {
  text-align: center;
}

.pet-container {
  display: flex;
  flex-direction: row;
}

img {
  width: 300px;
  margin: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #00BCD4;
  border-color: #00BCD4;
  margin: 15px;
} 

h1 {
  padding: 15px;
}