.card {
  background-color: rgb(255, 254, 254);
  margin: 10px 0px;
}

h2 {
  text-align: center;
}

.pet-container {
  display: flex;
  flex-direction: row;
}

img {
  width: 300px;
  margin: 10px;
  border-radius: 3px;
}
