
<div class="title-container well darken">
  <h1>a casa <span>aka</span> mascotapp <span>aka</span> pet-ando <span>aka</span> pet-arte</h1>
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Who's there? <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/user">Usuario</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/orgs">Organizaciones</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div *ngIf="post | async as p">

  <h2>{{ p.text }}</h2>
  <h4>Votes: {{ p.likes }}</h4>

  <button (click)="upvote()">Upvote</button>
  <button (click)="downvote()">Downvote</button>
  <button (click)="resetPost()">Reset</button>

  <input [(ngModel)]="text">
  <button (click)="editText()" > Change Title</button>

</div> -->