.title-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 25px;
  background-color: rgb(212, 255, 255);
}

.btn-group {
  display: flex;
  align-self: flex-end;
}


button {
  font-size: 1.2em;
}

span {
  font-size: 0.8em;
}

.btn-primary {
  color: #fff;
  background-color: #00BCD4;
  border-color: #00BCD4;
}