<div>
  <form>
    <label> Especie:
      <select>
        <option value="dog">Perro</option>
        <option value="cat">Gato</option>
      </select>    
    </label>
    <label> Raza:
        <input #petBreed />    
    </label>
    <label> Nombre:
      <input #petName />    
    </label>
    <label> Edad:
      <input #petAge />    
    </label>
    <label> Peso:
      <input #petWeight />    
    </label>
    <label> Tamaño:
      <select>
        <option value="xs">Toy</option>
        <option value="s">Pequeño</option>
        <option value="m">Medio</option>
        <option value="l">Grande</option>
        <option value="xl">Extra</option>
      </select>        
    </label>
    <label> Ubicación:
      <input #petLocation />    
    </label>
    <button></button>
  </form>
</div>