<ng-container *ngIf="org">
  
  <div *ngIf="org" class="details" class="card card-block card-header">
    <h2>{{ org.name | uppercase }}</h2>
    <div>
      <p>
        {{org.location}}
      </p>
      <p>
        {{org.web}}
      </p>
      <p>
        {{org.email}}
      </p>
    </div>
    <button routerLink="/orgs/{{org._id}}/pets">Nueva Mascota</button>
    <button (click)="goBack()">Atras</button>

    <div *ngFor="let query of org.queries">
      <div class="notifications-container">
        <alert type="success"> 
          <p>{{query.user.name}} quiere adoptar a {{query.pet.name}}</p>
          <p (click)="acceptAdoption(query._id, query.pet._id, query.user._id)" >✅</p>
          <p (click)="rejectAdoption(query._id, query.pet._id, query.user._id)">❎</p>
        </alert> 
      </div>
    </div>

      <div class="pet-container" class="card card-block card-header">
        <div *ngFor="let pet of org.pets">
          <h4>{{pet.name}}</h4>
        </div>
      </div>
  </div>
</ng-container>